name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    strategy:
      matrix:
        include:
          # includes a new variable of wails-cmd
          # for the matrix matching the os
          - os: win
            wails-cmd: wails build -platform windows/amd64 -v 2
            bin-name: bionicdash-win-amd64-${{github.sha}}.exe
            runs-on: ubuntu-20.04
          - os: mac
            wails-cmd: wails build -platform darwin/amd64 -v 2
            bin-name: bionicdash-osx-amd64-${{github.sha}}.pkg
            runs-on: macos-11
          - os: linux
            wails-cmd: wails build -platform linux/amd64  -v 2
            bin-name: bionicdash-linux-amd64-${{github.sha}}
            runs-on: ubuntu-20.04
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Set up Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install Wails Dependencies
        run: sudo apt install build-essential libgtk-3-dev libwebkit2gtk-4.0-dev nsis

      - name: Check Wails Install
        run: wails doctor

      - name: Build
        run: ${{matrix.wails-cmd}}

      - name: Upload Build Artifacts - ${{matrix.bin-name}}
        uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.bin-name}}
          path: build/*

